<div id="container">
  <h1>Let's add a new movie</h1>
  <div id="loading" *ngIf="state === 'loading'" > <!-- -->
    Loading
  </div>
  <div id="success" *ngIf="state === 'success'"> <!--  -->
    Success!
  </div>
  <div id="fail" *ngIf="state === 'fail'"> <!--  -->
    Sorry, the server did not response
  </div>
  <form method="post" (submit)="handleSubmit()">
    <div class="inputGroup">
      <span>Name</span>
      <input type="text" [(ngModel)]="name" name="name">
    </div>
    <div class="inputGroup">
      <span>Description</span>
      <textarea name="description" [(ngModel)]="description"></textarea>
    </div>
    <div class="inputGroup">
      <span>Duration</span>
      <input type="number" name="duration" [(ngModel)]="duration">
    </div>
    <div class="inputGroup">
      <span>Actors</span>
      <div class="checkboxList">
        <div class="checkboxItem" *ngFor="let item of actorList; index as i">
          <input type="checkbox" [checked]="!!actorList[i].checked" (change)="actorList[i].checked = !actorList[i].checked">
          {{actorList[i].name}}
        </div>
      </div>
    </div>
    <div class="inputGroup">
      <span>Genres</span>
      <div class="checkboxList">
        <div class="checkboxItem" *ngFor="let item of genresList; index as i">
          <input type="checkbox" [checked]="!!genresList[i].checked" (change)="genresList[i].checked = !genresList[i].checked">
          {{genresList[i].name}}
        </div>
      </div>
    </div>
    <div class="inputGroup">
      <span>Background Image</span>
      <input type="text" name="bgImage" [(ngModel)]="bgImage">
    </div>
    <input type="submit" value="Save">
  </form>
</div>
