<div id="videos">
  <div id="scroll" [style.top.vh]="scroll" [ngClass]="{'active' : items.length > 0}">
    <app-video-container *ngFor="let video of items; let i = index" [title]="video.title" [actors]="video.actors" [bgImage]="video.bgImage" [description]="video.description" [tags]="video.tags" [displayAnimations]="i === activeIndex" [loading]="i === activeIndex || i === lastIndex"></app-video-container>
  </div>
  <div class="loading" *ngIf="items.length === 0">
    Loading...
  </div>
</div>
